# LAB | Two Sample Hypothesis Tests

### Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as st

## Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [6]:
# Run this code:

df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv')
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

Let's start off by looking at the `head` function in the cell below.

In [7]:
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [13]:
legendary = df[df['Legendary'] == True]
non_legendary = df[df['Legendary'] == False]

print(f"The count of Legendary pokemons is: {len(legendary)}")
print(f"The count of Non-Legendary pokemons is: {len(non_legendary)}")

The count of Legendary pokemons is: 65
The count of Non-Legendary pokemons is: 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [12]:
df['Total_Points'] = df['HP']+ df['Attack'] + df['Defense']+ df['Sp. Atk']+ df['Sp. Def']+ df['Speed']

In [14]:
print(f"The mean of Legendary pokemons is: {legendary['Total_Points'].mean()}")
print(f"The mean of Non-Legendary pokemons is: {non_legendary['Total_Points'].mean()}")

The mean of Legendary pokemons is: 637.3846153846154
The mean of Non-Legendary pokemons is: 417.21360544217686

In [15]:
print(f"The mean of Legendary pokemons is: {legendary['Total_Points'].std()}")
print(f"The mean of Non-Legendary pokemons is: {non_legendary['Total_Points'].std()}")

The mean of Legendary pokemons is: 60.93738905315346
The mean of Non-Legendary pokemons is: 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [33]:
st.ttest_ind(legendary['Total_Points'], non_legendary['Total_Points'], alternative = 'two-sided', equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [18]:
# We reject null hypothesis: They are on average different

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [20]:
df['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [27]:
water_pokemons = df[df['Type 1'] == 'Water']
other_pokemons = df[df['Type 1'] != 'Water']

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [29]:
st.ttest_ind(water_pokemons['Total_Points'], other_pokemons['Total_Points'], equal_var = True, alternative = 'two-sided')

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [34]:
# We fail to reject null hypothesis: The total pointts on average of the water pokemons are the same as the others

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [37]:
st.ttest_rel(df['Attack'], df['Defense'], alternative = 'two-sided')

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# We reject the null hypothesis: they are different on average

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [39]:
st.ttest_rel(df['Sp. Atk'], df['Sp. Def'], alternative = 'two-sided')

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
# We fail to reject null hypothesis: On average of they are both very similar

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [40]:
diff = df['Defense'] - df['Attack']

In [43]:
st.ttest_1samp(diff, 0, alternative = 'two-sided')

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [45]:
df['Water/not'] = df['Type 1'].apply(lambda x:'Water' if x == 'Water' else 'Not Water')

In [49]:
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_Points,Water/not
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,Not Water
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,Not Water
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,Not Water
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,Not Water
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309,Not Water
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600,Not Water
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700,Not Water
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600,Not Water
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680,Not Water
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600,Not Water

In [50]:
crosstab = pd.crosstab(df['Legendary'], df["Water/not"])
crosstab

Water/not  Not Water  Water
Legendary
False            627    108
True              61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [55]:
import scipy.stats as stats
chi2, p, dof, expected = stats.chi2_contingency(observed = crosstab)

In [56]:
(chi2, p, dof, expected)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [57]:
# We fail to reject null hypothesis